h1{
    text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 130px;
	color: #950000;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    color: #d23f00;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 25%;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 200px;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 40px;
}