/* she's an icon she's a star */
.fa {
	color:#950000;
	font-size: 48px;
}

/* Popup START*/
.popup {
	bottom: 0%;
	color:#950000;
	cursor: pointer;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	left: 0%;
	position: relative;
	top: 10%;
	user-select: none;
	z-index: 1;
}

.popup .popuptext {
	color: #333333;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	position: relative;
	visibility: hidden;
	width: 160px;
}

.popup .popuptext::after {
	border-width: 100px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
	content: "";
	left: 50%;
	margin-left: 5px;
	padding-top: 300px;
	position: relative;
	top: 100%;
}

.popup .show {
	animation: fadeIn 1s;
	visibility: visible;
	-webkit-animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}
/* Popup END*/





h1{
	color: #950000;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 60px;
	text-align: center;
}

h2{
	color: #d23f00;
	font-family:Arial, Helvetica, sans-serif;
    margin: 10px 10px;
	text-align: center;

}

p{
	font-family: Helvetica, sans-serif;
	text-align: center;
}




/* Input your birthday */
.form-container{
	border-radius: 20px;
	display:flex;
	font-family: Arial, Helvetica, sans-serif;
	justify-content: center;
	margin:30px;
	text-align: center;
}

.control {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 1.5rem;
}



/* BIRTHDAY INPUT*/
label[type="birthday"]{
	color: #ff824c;
}

input{
	align-items: center;
	color:#ff824c;
	margin: 4px;
}

input[type="submit"], button[type="submit"] {
	background-color: #ff824c;
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	margin-top: 5px;
	padding: 13px 36px;
	text-decoration: none;
}

input[type="submit"]:hover, button[type="submit"]:hover {
    background-color: #ffffff;
    border: 2px solid #ff824c;
    color: #ff824c;
}



/* ZODIAC IMAGES GRID*/
.container{
	display: grid;
	grid-auto-rows: auto;
	padding-bottom: 50px;
    grid-column: span 6;
    grid-gap: 1em;
	grid-template-columns: repeat(6, 1fr);
	padding-top: 20px;
	width: 1fr;
}

div.container img{
	max-width: 200px;
}

img {
	margin: auto;
}



/* ZODIAC BUTTONS */
.button{
    align-items: center;
	background-color: #950000;
    border: 2px solid #950000;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    justify-content: center;
    margin: 10px 10px;
    min-width: 30px;
	padding: 16px 32px;
	text-align: center;
    text-decoration: none;
	transition: .2s;
	&:hover {
		transform: scale(1);
		background-color: #ffffff;
        border: 2px solid #950000;
		color: #950000;
	}
}
