h1{
	color: #950000;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 130px;
    text-align: center;
}

h2{
    color: #d23f00;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    text-align: center;
}

.center {
    display: block;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    width: 25%;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 2px;
}

button{
    background-color: #950000;
    border-radius: 16px;
    border:#950000;
    color:#ffffff;
    display: block; 
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin: auto;
    padding: 30px;
    &:hover {
        transform: scale(1); 
		background-color: #ffffff;
		color: #950000;
        border: 2px solid #950000;
    text-align: center;
	}
}

body{
    margin-bottom: 30px;
}